{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block title %}Listagem de Funcionarios{% endblock %}

{% block content %}
{%bootstrap_messages%}
    <div class="container-fluid mb-5">
        <h2 class="text-center text-white bg-success py-5">Listagem de Funcionarios</h2>
    </div>

    <div class="container-fluid mb-5 mx-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Contato</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                    <tr>
                        <td><a href="{% url 'detalhes_funcionario' funcionario.id %}">{{ funcionario.nomeFuncionario }}</a></td>
                        <td><a href="{% url 'detalhes_funcionario' funcionario.id %}">{{ funcionario.emailFuncionario }}</a></td>
                        <td><a href="{% url 'detalhes_funcionario' funcionario.id %}">{{ funcionario.cpfFuncionario }}</a></td>
                        <td><a href="{% url 'detalhes_funcionario' funcionario.id %}">{{ funcionario.cargo }}</a></td>
                        <td><a href="{% url 'detalhes_funcionario' funcionario.id %}">{{ funcionario.telefoneFuncionario }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container-fluir">
        {% bootstrap_pagination page_obj %}
        {% if perms.funcionario.add_funcionario %}
        <a class="btn btn-success mx-2" href="{% url 'adicionar_funcionario' %}" role="button">Cadastrar Funcionario</a>
    {% endif %}
    </div>
    
{% endblock %}
