{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static '/static/ico/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static '/static/ico/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg bg-light p-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Accelerete Rent</a>
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/"><img src="{% static '/static/img/cubo.png'%}" alt="Logo" width="40" height="40"
                        class="d-inline-block align-text-center me-4 ms-4"></a>
                    </li>

                 
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="true">
                            CADASTRO
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'listar_clientes'%}">CLIENTE</a></li>
                            <li><a class="dropdown-item" href="{% url 'listar_funcionarios'%}">FUNCIONARIO</a></li>
                            <li><a class="dropdown-item" href="{% url 'listar_carros'%}">CARRO</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="true">
                            MOVIMENTACAO
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'listar_contratos' %}">ALUGUEL</a></li>
                            
                        </ul>
                    </li>

                </ul>
                {% if user.is_authenticated %}
                    <h4>Olá, {{ user.username }}</h4>
                    <a class="btn btn-primary mx-3" href="{% url 'logout' %}" role="button">Sair</a> 
                {% else %}
                    <a class="btn btn-primary mx-3" href="{% url 'login' %}" role="button">Acessar</a>   
                {% endif %}            
            </div>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <div class="container bg-body-tertiary">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-body-secondary">© 2023 Faculdade de Tenologia do Piaui</p>
    
          <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="{% static '/static/img/stdn.png'%}" alt="Logo" width="40" height="40"
              class="d-inline-block align-text-center me-4 ms-4">
          </a>
    
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">HOME</a></li>
            <li class="nav-item"><a href="{% url 'listar_clientes'%}" class="nav-link px-2 text-body-secondary">CLIENTE</a></li>
            <li class="nav-item"><a href="{% url 'listar_funcionarios'%}" class="nav-link px-2 text-body-secondary">FUNCIONARIO</a></li>
            <li class="nav-item"><a href="{% url 'listar_carros'%}" class="nav-link px-2 text-body-secondary">CARRO</a></li>
            <li class="nav-item"><a href="{% url 'listar_contratos' %}" class="nav-link px-2 text-body-secondary">ALUGUEL</a></li>            
          </ul>
        </footer>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
</body>

</html>