{% extends 'base.html' %}
{% load static bootstrap5 %}
{% block title %} Sistema de Aluguel - Accelerete Rent{% endblock %}

{% block content %}

    <div class="container-fluid d-flex justify-content-center align-items-center vh-40 bg-success">
        <h1 class="text-center text-white my-5">Boas Vindas ao Sistema de Aluguel de Carro <br>
            <span style="color:#cfe2ff;">Accelerete Rent</span> <br>mais um empeendimento do 
            Grupo <span style="color:#cfe2ff;">S</span>omos <span style="color:#cfe2ff;">T</span>odos 
                <span style="color:#cfe2ff;">N</span>erds</h1>
    </div>

    <div class="container-fluid bg-write">
        <h3 class="my-5">Venha conhecer nossa linha de
            <span style="color:#198754;">carros disponivel para aluguel</span></h3>
    </div>

    <div class="container mb-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Carro</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Ano</th>
                </tr>
            </thead>
            <tbody>
                {% for carro in carros %}
                    <tr>
                        <td>
                            {% if carro.foto %}
                                <a href="{% url 'detalhes_carro' carro.id %}">
                                    <img src="{{ carro.foto.url }}" alt="{{ carro.modelo }}" width="250">
                                </a>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'detalhes_carro' carro.id %}">{{ carro.modelo }}</a></td>
                        <td><a href="{% url 'detalhes_carro' carro.id %}">{{ carro.ano }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}
